.portfolio__text {
  display: flex;
  width: 1240px;
  justify-content: space-between;
  margin: 50px auto 0px auto;
  gap: 136px;
}

@media screen and (max-width: 1400px) {
  .portfolio__text {
    max-width: 85vw;
  }
}

@media screen and (max-width: 900px) {
  .portfolio__text {
    flex-wrap: wrap;
    gap: 15px;
  }
}