.popup_active {
  z-index: 10 !important;
  opacity: 1 !important;
  top: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
  display: flex !important;
  transition: transform  0.3s ease, padding 0.3s ease, opacity 0.3s ease;
  transform: translateX(0vw) !important;
}