.portfolio__swipe {
  margin: auto;
  max-width: 1240px;
  margin-top: 100px;
  display: grid;
  justify-content: start;
  opacity: 0;
  transition: 1s ease;
  position: relative;
  margin-bottom: 100px;
}

@media screen and (max-width: 1400px) {
  .portfolio__swipe {
    max-width: 85VW;
  }
}

@media screen and (max-width: 900px) {
  .portfolio__swipe {
    margin-top: 10px;
    margin-bottom: 70px;
  }
}