.steps__box {
  grid-row: 1;
  grid-column: 4;
  width: 500px;
  justify-self: start;
}

@media screen and (max-width: 1440px) {
  .steps__box {
    width: 34.722vw;
  }
}

@media screen and (max-width: 850px) {
  .steps__box {
    grid-row: 3;
    grid-column: 1;
    justify-self: center;
    justify-content: center;
    width: 70%;
    min-width: 300px;
    margin: 0px auto 70px auto;
  }
}