.main {
  background: linear-gradient(#F1F1F1, #F0F2F1, #EBEDEC, #E6E8E7, #DEE2E1);
  position: relative;
  margin: auto;
  width: 100vw;
  overflow: hidden;
}

@media screen and (max-width: 680px) {
  .main {
    background: linear-gradient(to left, #F1F1F1, #DEE2E1);
  }
}