.services__container {
  max-width: 1440px;
  margin: auto auto auto auto;
  display: grid;
}

@media screen and (max-width: 1250px) {
  .services__container {
    margin: 70px 0px 60px 0px;
  }
}

@media screen and (max-width: 1000px) {
  .services__container {
    margin: 70px 0px 60px 0px;
    display: block;
  }
}