.portfolio__logo {
  grid-row: 1;
  grid-column: 1/3;
  z-index: 1;
  max-width: 94px;
  max-height: 29px;
  background-color: #D9FADD;
  border-radius: 0px 15px 15px 0px;
  padding: 10px 30px 10px 40px;
  margin: 45px 0px 0px 0px;
}