.popup__time {
  display: flex;
  align-self: center;
  font-size: 16px;
  line-height: 19.5px;
  color: #7CA381;
  font-weight: 700;
  width: 400px;
  grid-column: 1/4;
  grid-row: 1;
}

.popup__time::before {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  background-image: url(../../../images/time.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  padding-right: 15px;
  align-self: center;
}

@media screen and (max-width: 480px) {
  .popup__time   {
    width: 65%;
  }
}