.installation__box {
  max-width: 257px;
  max-height: 135px;
  background-color: #fff;
  display: grid;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px rgba(73, 93, 76, 0.5);
  margin: auto;
  opacity: 0;
  transition: 1s ease;
  position: relative;
}

@media screen and (max-width: 650px) {
  .installation__box {
    max-width: 200px;
  }
}

@media screen and (max-width: 485px) {
  .installation__box {
    max-width: 150px;
  }
}

@media screen and (max-width: 360px) {
  .installation__box {
    max-width: 120px;
  }
}