.system__subtitle {
  font-size: 15px;
  line-height: 26px;
  color: #495E4C;
  margin: 20px 0px 0px 0px;
}

@media screen and (max-width: 1400px) {
  .system__subtitle {
    font-size: 1.042vw;
    line-height: 1.806vw;
  }
}

@media screen and (max-width: 1300px) {
  .system__subtitle {
    font-size: 14px;
    line-height: 24px;
  }
}