.services__listblok {
  background-color: #D9FADD;
  border-radius: 65px;
  display: flex;
  height: 632px;
}

@media screen and (max-width: 1250px) {
  .services__listblok {
    display: grid;
    border-radius: 0px 0px 50px 50px;
    height: auto;
  }
}