.footer__about-logo {
  max-width: 352px;
  max-height: 109px;
  pointer-events: none;
  user-select: none;
  grid-row: 1;
  grid-column: 1;
  margin-top: 86px;
  pointer-events: none;
}

@media screen and (max-width: 1050px) {
  .footer__about-logo {
    max-width: 212px;
    max-height: 65px;
    margin-top: 30px;
  }
}